* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

h1 {
  font-family: 'Poppins', sans-serif;
  color: #1f1f41;
  font-weight: 600;
}

h2 {
  font-family: 'Poppins', sans-serif;
  color: #1f1f41;
  font-size: 3rem;
}

.container {
width: 100%;
min-height: 100vh;
/* padding-left: 8%;
padding-right: 8%; */
box-sizing: border-box;
overflow: hidden;
background-color:white;
}


